* {
    margin: 0;
    padding: 0;
}

body{
    background-color:saddlebrown;
    color:wheat;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}
.encabezado {   
        background-image: url(https://sergiocarracedo.es/images/header_cafe.jpg);
        background-position:right;
        background-size: cover;        
        position: fixed;
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: space-between;
}

.encabezado__icono {
        margin-left: 25px;
}   

.nav { 
    display: flex;
    align-self: center;
    margin-right: 40px;
}

.nav__menu {
    color: wheat;
    text-decoration: none;
    margin: 0px 10px;
}

.nav__objetivo {
    color: wheat;
    text-decoration: none;
    margin: 0px 10px;
}

.nav__sobrenosotros {
    color: wheat;
    text-decoration: none;
    margin: 0px 10px;
}

.nav__locales {
    color: wheat;
    text-decoration: none;
    margin: 0px 10px;
}

.presentacion {
    padding-top: 175px;
    text-align: center;
}

.presentacion__titulo {
    font-size: 150px;
    font-style:oblique;
    text-decoration:underline;
}

.presentacion__subtitulo {
    margin-top: -25px;
    font-size: 50px;
    font-weight: 450;
}

.presentacion__adicional {
    font-size: 30px;
    margin-top: -5px;
    font-weight: 300;
}

.redes { 
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    align-items: baseline;
    height: 40vh;
    align-items: center;
}

.redes__twitter {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.redes__instagram {
    width: 175px;
    margin: 10px;
}

.redes__telegram {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.pie {

    margin-left: 50px;
}

.pie__promocion {
    font-weight:100;
}

.pie__formulario {
    font-size: 21px;
}

.pie__formulario--completar {
    height: 22px;
    width: 250px;
}

.pie__formulario--boton {
    height: 24px;
    width: 50px;
    transition: .3s ease all;
}

.pie__formulario--boton:hover {
    background-color: saddlebrown;
    transform:translateX(5px);
}

.pie__logo {
    width: 100px;
    height: 100px;
    transition: 3s;
    transform: rotate(360deg);
    animation-name: pielogo;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes pielogo {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

h6 {
    font-size: 20px;
    font-weight: 100;
}

.titulomenu {
    padding-top: 150px;
    text-align: center;
    margin-bottom: 30px;
    text-decoration:underline;
    color: wheat;
}

.grid   {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    gap: 2rem;
}



.lista1 {
    /* margin-top: 100px; */
    display: inline-block;
}

.lista2 {
    /* margin-top: 100px; */
    display: inline-block;
}

.lista3 {
    /* margin-top: 100px; */
    display: inline-block;
}

.lista4 {
    /* margin-top: 100px; */
    display: inline-block;
}

.lista1__cafes {
    display: inline-block;
    border: 7px solid rgb(32, 15, 2);
    border-radius: 14px;
    width: 200px;
    color: black;
    list-style: none;
    padding-left: 5px;
}

.lista2__comida {
    display: inline-block;
    border: 7px solid rgb(32, 15, 2);
    border-radius: 14px;
    width: 200px;   
    color: black;
    list-style: none;
    padding-left: 5px;
}

.lista3__bebidas {
    display: inline-block;
    border: 7px solid rgb(32, 15, 2);
    border-radius: 14px;
    width: 200px;   
    color: black;
    list-style: none;
    padding-left: 5px;
}

.lista4__bebidas {
    display: inline-block;
    border: 7px solid rgb(32, 15, 2);
    border-radius: 14px;
    width: 200px;   
    color: black;
    list-style: none;
    padding-left: 5px;
}


.derechos {
    margin-top: 50px;
    font-size: 20px;
    font-weight: 100;
    margin-left: 15px;
}

.titulosn {
    padding-top: 150px;
    text-align: center;
    font-size: 50px;
    text-decoration:underline;
    color: wheat;
}

.flexfounders {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.founders {
    width: 50%;
    height: 60%;
    margin-top: 30px;
    border-radius: 20px;
    display: flex;
}

.parrafosn {
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    color: black;
}

.tituloobj {
    padding-top: 150px;
    text-align: center;
    color: wheat;
    text-decoration: underline;
    font-size: 50px;
}

.parrafoobj {
    color: black;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
}

.flexobj  {
    display: flex;
    gap: 2rem;
    justify-content:center;
    align-items: center;
}

.lista {
    border: 7px solid black;
    border-radius: 14px;
    color: black;
    margin-left: 50px;
    margin-top: 30px;
    list-style: none;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    flex-direction: column;
}

.foto {
    margin-top: 30px;
    width: 400px;
    height: 210px;
    display: flex;
    flex-direction: column;
}


.tituloloc {
    padding-top: 150px;
    text-align: center;
    color: wheat;
    text-decoration: underline;
    font-size: 50px;
}

.parrafoloc {
    color: black;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: justify;
    }

.mapa {
    display: grid;
    justify-items: center;
    margin-top: 30px;
    justify-content: center;
} 

.hamburguesa {
    display: none;
    margin: 40px 40px 0px 0px ;
    text-decoration: none;
    color: wheat;
}

@media screen and (max-width: 600px) {
    .grid {
        display: flex;
        flex-direction: column;
    }
    .nav {
        display: none;
    }
    .hamburguesa {
        display: block;
    }
    .presentacion__titulo {
        font-size: 70px ;
        padding-bottom: 20px;
    }
    .presentacion__subtitulo {
        font-size: 40px;
        padding-bottom: 10px;
    }
    .presentacion__adicional {
        font-size: 25px;
    }
    .redes {
        flex-direction: column;
    }
    .pie {
        margin: 5px;
    }
    .pie__promocion {
        font-size: 20px;
    }
    
    .pie__formulario {
        font-size: 20px;
    }
    
    .pie__formulario--completar {
        height: 15px;
        width: 100px;
    }
    
    .pie__formulario--boton {
        height: 20px;
        width: 50px;
    }

    .pie__formulario--boton:hover {
        background-color: saddlebrown;
        transform:translateX(5px);
    }
    
    .pie__logo {
        width: 100px;
        height: 100px;
    }
    
    h6 {
        font-size: 20px;
    }

    .mapa {
        display: flex;
        flex-direction: column;
    }

    .imgsegundaparteindex {
        animation: none;
    }
}

body { 
    background-image: linear-gradient(to bottom, saddlebrown, rgb(19, 9, 1));
}

ul {
    margin-bottom: 0;
    margin-top: 0;
}

button {
    font-size: initial;

}

.segundaparteindex {
    padding-top: 30px;
    padding-bottom: 30px;
}

.imgsegundaparteindex{
    width: 300px;
    height: 200px;
    transition: 3s all;
}

.segundaparteindex:hover .imgsegundaparteindex {
    transform: translateX(130px);
    width: 400px;
    height: 240px;
}

.parrafo {
    font-size: 20px;
}

.continuacionindex {
    text-decoration: underline;
}

.row {
    align-items: center;
}

.card {
    width: 200px;
    height: 200px;
    margin-top: 30px;
    margin-left: 15px;
    z-index: -1;
}

.fotoscomida {
    z-index: -1;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    max-height: 300px;
}
